.NavBar{
  display: flex;
  background: linear-gradient(to right, #6a6ffc, #1829f5);
  text-align: center;
}

.NavBar > a{
  margin: 2vh 6vw;
  color: #dcdefa;
  text-decoration: none;
  margin-top: 2.5vh; 
}

.NavBar > .logo{
  width: 50px;
  color: #dcdefa;
  filter:brightness(100%);
}